<div class="col-sm-8 offset-sm-1">
  <div class="text-center mb-5">
    <h2><span style="border-bottom: solid 2px;"><%= "#{@chatroom.name}の部屋" %></span></h2>
  </div>
  
  <% if current_user == @chatroom.user %>
    <div class="text-right">
      <%= link_to "編集", edit_chatroom_path(@chatroom), class: "btn edit_btn" %>
      <%= link_to "削除", @chatroom, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: "btn btn-danger" %>
    </div>
  <% end %>
  
  <!--チャット画面全体全体-->
  <div class="box mx-auto">
    
    <!--チャット画面の外側-->
    <div class="room_messages_container">
      
      <% if logged_in? %>
        <!--タイムライン-->
        <div class="room_messages">
          
          <div id="posts">
            <%= render @posts %>
          </div>
          <!--<p name="choice"></p> 「location.hash使えなかった」-->
       </div>
        
        <div class="room_send">
          <textarea class="room_send_message" id="chat_input" data_user="<%= current_user.id %>" data_room="<%= @chatroom.id %>"></textarea>
          <button id="chat_button" class="room_send_btn">送信</button>
        </div>
        
      <% else %>
        <div class="text-center">ログインユーザーのみチャット機能を使用できます。</div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-sm-3">
  <%= link_to "質問一覧", questions_path(chatroom_id: @chatroom.id) %>
  
  <% provide(:title, '最新質問10件') %>
  <%= render 'questions/questions_list', questions: @questions %>
  
  <% if logged_in? %>
    <%= link_to "質問する", new_question_path(chatroom_id: @chatroom.id), class: "btn btn-success btn-sm" %> <!--_path(引数)により、question#newでparams[:chatroom_id]に@chatroom.idを届けている-->
  <% end %>
</div>


<style>
  /*チャット画面全体全体*/
  .box{
    height: 500px;
    width: 70%;
  }
  
  /*チャット画面の外側*/
  .room_messages_container{
    height: 100%;
    width: 100%;
    background-color: #eee;
  }
  
  /*タイムライン*/
  .room_messages{
    overflow: auto; /*スクロール*/
    height: 100%;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #eee;
  }
  
  /* メッセージ全般のスタイル */
  .room_message{
    margin: 0px;
    padding: 0 14px;
    font-size: 16px;
    word-wrap: break-word; /*吹き出し内で改行*/
    white-space: normal; /*指定widthに合わせて、文字を自動的に改行*/
  }
  
  .room_message_box{
    margin-top: 20px;
    max-width: 100%;
    font-size: 16px;
  }
  
  .room_message_content{
    padding: 20px;
  }
  
  /*自分以外のチャット*/
  .room_left{
    float: left;
    line-height: 1.3em;
  }
  
  .room_left .room_message_box{
    color: #333;
    background: #fff;
    border: 2px solid #13178E;
    border-radius: 30px 30px 30px 0px;
    margin-right: 50px;
  }
  
  .room_right{
    float: right;
    line-height: 1.3em;
  }
  
  .room_right .room_message_box{
    color: #fff;
    background: #13178E;
    border: 2px solid #13178E;
    border-radius: 30px 30px 0px 30px;
    margin-left: 50px;
  }
  
  .room_clear{
    clear: both; /* 左メッセージと右メッセージの回り込み(float)の効果の干渉を防ぐために必要（これが無いと、自分より下のメッセージにfloatが影響する） */
  }
  
  /*送信ボタン*/
  .room_send{
    background-color: #eee;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 78px;
    padding: 4px;
  }
  
    .room_send_message{
      width: calc(100% - 75px); /*常に送信ボタンの横幅を引いたサイズに動的に計算*/
      line-height: 16px; /*1行の高さ*/
      height: 64px;
      border: 1px solid #ccc;
      border-radius: 4px;
      text-align: left;
      box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset; /*内側*/
      box-sizing: border-box; /*パディングとボーダーを幅と高さに含める*/
    }

  
  .room_send_btn{
    width: 72px;
    height: 64px;
    font-size: 16px;
    line-height: 4em;
    float: right;
    color: #fff;
    font-weight: bold;
    background: #4b9696;
    text-align: center;
    border: 1px solid #bbb;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  /*編集ボタン*/
  .edit_btn{
    background-color: #eee;
  }
 
</style>
